In [30]:
import pandas as pd
import numpy as np

pd.read_csv('file path') -> used to open csv file
pd.read_excel('file path') -> is used to open a excel file in pandas

In [61]:
df = pd.read_csv('BostonHousing.csv')
print(df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

.head() gives us the first 5 data from the file

In [10]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

.shape gives us all the rows and columns of data in the file

In [12]:
df.shape

(506, 14)

.to_csv('filename') is used to export dataframe into a csv file use 
Note: the filename should be defined beforehand

In [ ]:
df.to_csv(boston.csv)

create a Dataframe eith random values
pd.DataFrame(np.random.randint(from,to,(row,column)))

In [25]:
random_df = pd.DataFrame(np.random.randint(10,100,(507,15)))
random_df.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14
0  40  26  48  16  25  66  34  54  52  48  12  29  65  73  61
1  82  81  20  71  84  68  73  40  75  76  84  26  21  47  74
2  67  83  44  36  78  21  11  57  94  63  24  25  11  48  95
3  12  41  13  81  82  85  49  16  62  28  62  35  49  53  12
4  25  76  10  46  74  58  23  43  13  82  87  26  74  97  90

Inspecting a DataFrame

In [ ]:
#finding the number of rows and column
random_df.shape

#finding first 5 rows in DataFrame
random_df.head()

#finding last 5 rows in DataFrame
random_df.tail()

# information about DataFrame 
random_df.info()

In [41]:
#finding number of missing values
df.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         5
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [42]:
#counting values based on particular label
df.value_counts('age')

age
100.0    43
98.2      4
98.8      4
97.9      4
95.4      4
         ..
13.9      1
96.4      1
97.5      1
17.0      1
21.1      1
Name: count, Length: 356, dtype: int64

In [45]:
#group the values based on the mean
df.groupby('age').mean()

,crim,zn,indus,chas,nox,rm,dis,rad,tax,ptratio,b,lstat,medv
age,,,,,,,,,,,,,
2.9,0.127440,0.00000,6.910000,0.000000,0.448000,6.77000,5.720900,3.000000,233.000000,17.900000,385.410000,4.840000,26.600000
6.0,0.078960,0.00000,12.830000,0.000000,0.437000,6.27300,4.251500,5.000000,398.000000,18.700000,394.920000,6.780000,24.100000
6.2,0.195390,0.00000,10.810000,0.000000,0.413000,6.24500,5.287300,4.000000,305.000000,19.200000,377.170000,7.540000,23.400000
6.5,0.159360,0.00000,6.910000,0.000000,0.448000,6.21100,5.720900,3.000000,233.000000,17.900000,394.460000,7.440000,24.700000
6.6,0.114880,0.00000,8.860000,0.000000,0.430500,6.29300,5.504100,3.500000,269.000000,18.550000,383.550000,6.265000,24.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98.8,4.742852,0.00000,21.457500,0.000000,0.649250,6.41975,1.691075,14.000000,620.000000,20.425000,393.972500,17.955000,14.500000
98.9,5.387940,0.00000,19.363333,0.000000,0.672333,5.86500,1.826667,17.333333,589.666667,20.533333,395.013333,17.790000,13.066667
99.1,15.874400,0.00000,18.100000,0.000000,0.671000,6.54500,1.519200,24.000000,666.000000,20.200000,396.900000,21.080000,10.900000
99.3,8.248090,0.00000,18.100000,0.000000,0.713000,7.39300,2.452700,24.000000,666.000000,20.200000,375.870000,16.740000,17.800000
100.0,15.054894,1.22093,16.896047,0.046512,0.681279,5.68393,1.837602,17.720930,565.162791,18.876744,300.006279,21.234651,16.920930

Statistical Measures

In [46]:
#count or number of values
df.count()

crim       506
zn         506
indus      506
chas       506
nox        506
rm         501
age        506
dis        506
rad        506
tax        506
ptratio    506
b          506
lstat      506
medv       506
dtype: int64

In [47]:
df.mean()

crim         3.613524
zn          11.363636
indus       11.136779
chas         0.069170
nox          0.554695
rm           6.284341
age         68.574901
dis          3.795043
rad          9.549407
tax        408.237154
ptratio     18.455534
b          356.674032
lstat       12.653063
medv        22.532806
dtype: float64

In [48]:
#standard deviation 
df.std()

crim         8.601545
zn          23.322453
indus        6.860353
chas         0.253994
nox          0.115878
rm           0.705587
age         28.148861
dis          2.105710
rad          8.707259
tax        168.537116
ptratio      2.164946
b           91.294864
lstat        7.141062
medv         9.197104
dtype: float64

In [50]:
#minimum vales
df.min()

#maximum value
df.max()

crim        88.9762
zn         100.0000
indus       27.7400
chas         1.0000
nox          0.8710
rm           8.7800
age        100.0000
dis         12.1265
rad         24.0000
tax        711.0000
ptratio     22.0000
b          396.9000
lstat       37.9700
medv        50.0000
dtype: float64

In [51]:
# all the statisticalmeasures about dataframe
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,501.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284341,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.705587,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884000,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.625000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

Manipulating a DataFrame

In [66]:
#adding a column in a DataFrame
df['Price'] = np.random.randint(800,2500,(506,1))

In [71]:
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,Price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,1402
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,2206
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1503
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1226
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1545

if you want to remove a column give axis value as 1 and if you want to remove a row the give axis value as 0

In [70]:
#removing a row
df.drop(index=0, axis=0)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,Price
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,2206
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1503
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1226
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1545
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7,1860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,2465
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,1058
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,1209
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,1946
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,1188

In [74]:
#drop a column
df.drop(columns='zn', axis=1)

,crim,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,Price
0,0.00632,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,1402
1,0.02731,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,2206
2,0.02729,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,1503
3,0.03237,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,1226
4,0.06905,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,1545
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4,2465
502,0.04527,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6,1058
503,0.06076,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9,1209
504,0.10959,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0,1946
505,0.04741,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9,1188

In [76]:
#locating a row using index value
df.iloc[4]

crim          0.06905
zn            0.00000
indus         2.18000
chas          0.00000
nox           0.45800
rm            7.14700
age          54.20000
dis           6.06220
rad           3.00000
tax         222.00000
ptratio      18.70000
b           396.90000
lstat         5.33000
medv         36.20000
Price      1545.00000
Name: 4, dtype: float64

In [ ]:
#locating a particular column 
print(df.iloc[:,0]) #first column (1 for second, 2 for third and so on)
print(df.iloc[:,-1]) #last column

Correlation:
1.Positive Correlation means that the increase in one data will increase the other data
2. Negative Correlation means that the increase in one data will decrese tyhe other data

In [81]:
df.corr()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,Price
crim,1.000000,-0.200469,0.406583,-0.055892,0.420972,-0.219433,0.352734,-0.379670,0.625505,0.582764,0.289946,-0.385064,0.455621,-0.388305,-0.018261
zn,-0.200469,1.000000,-0.533828,-0.042697,-0.516604,0.311173,-0.569537,0.664408,-0.311948,-0.314563,-0.391679,0.175520,-0.412995,0.360445,0.042412
indus,0.406583,-0.533828,1.000000,0.062938,0.763651,-0.394193,0.644779,-0.708027,0.595129,0.720760,0.383248,-0.356977,0.603800,-0.483725,0.001994
chas,-0.055892,-0.042697,0.062938,1.000000,0.091203,0.091468,0.086518,-0.099176,-0.007368,-0.035587,-0.121515,0.048788,-0.053929,0.175260,-0.067318
nox,0.420972,-0.516604,0.763651,0.091203,1.000000,-0.302751,0.731470,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.590879,-0.427321,-0.009049
rm,-0.219433,0.311173,-0.394193,0.091468,-0.302751,1.000000,-0.240286,0.203507,-0.210718,-0.292794,-0.357612,0.128107,-0.615721,0.696169,-0.038958
age,0.352734,-0.569537,0.644779,0.086518,0.731470,-0.240286,1.000000,-0.747881,0.456022,0.506456,0.261515,-0.273534,0.602339,-0.376955,0.021872
dis,-0.379670,0.664408,-0.708027,-0.099176,-0.769230,0.203507,-0.747881,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.496996,0.249929,0.000512
rad,0.625505,-0.311948,0.595129,-0.007368,0.611441,-0.210718,0.456022,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.488676,-0.381626,-0.027350
tax,0.582764,-0.314563,0.720760,-0.035587,0.668023,-0.292794,0.506456,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.543993,-0.468536,0.004142
ptratio,0.289946,-0.391679,0.383248,-0.121515,0.188933,-0.357612,0.261515,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.374044,-0.507787,-0.029224
b,-0.385064,0.175520,-0.356977,0.048788,-0.380051,0.128107,-0.273534,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.366087,0.333461,0.008068
lstat,0.455621,-0.412995,0.603800,-0.053929,0.590879,-0.615721,0.602339,-0.496996,0.488676,0.543993,0.374044,-0.366087,1.000000,-0.737663,0.012100
medv,-0.388305,0.360445,-0.483725,0.175260,-0.427321,0.696169,-0.376955,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.737663,1.000000,-0.018141
Price,-0.018261,0.042412,0.001994,-0.067318,-0.009049,-0.038958,0.021872,0.000512,-0.027350,0.004142,-0.029224,0.008068,0.012100,-0.018141,1.000000